In [1]:
import pandas as pd

In [6]:
train_df = pd.read_csv('challenge_train.csv')
print('Lenght: ',len(train_df))
train_df.head()

Lenght:  788

,id,name,mana,attack,health,type,god,strategy
0,1118,Firewine,5,0,0,spell,nature,early
1,1036,Leyhoard Hatchling,10,2,1,creature,magic,late
2,244,Aetherfuel Alchemist,6,4,4,creature,neutral,late
3,215,Millenium Matryoshka,4,2,2,creature,neutral,late
4,87013,Poison Peddler,4,1,3,creature,neutral,late

In [9]:
dummies_type_df = pd.get_dummies(train_df['type'])
dummies_god_df = pd.get_dummies(train_df['god'])
dummies_god_df

     death  deception  light  magic  nature  neutral  war
0        0          0      0      0       1        0    0
1        0          0      0      1       0        0    0
2        0          0      0      0       0        1    0
3        0          0      0      0       0        1    0
4        0          0      0      0       0        1    0
..     ...        ...    ...    ...     ...      ...  ...
783      1          0      0      0       0        0    0
784      1          0      0      0       0        0    0
785      0          0      0      0       0        1    0
786      0          0      0      0       0        1    0
787      0          0      1      0       0        0    0

[788 rows x 7 columns]

In [12]:
processed_train_df = train_df.join(dummies_type_df)
processed_train_df = processed_train_df.join(dummies_god_df)
processed_train_df = processed_train_df.drop(['id','name','type','god'], axis = 1)
#base pronta pra treinamento
processed_train_df.head()

,mana,attack,health,strategy,creature,god power,spell,weapon,death,deception,light,magic,nature,neutral,war
0,5,0,0,early,0,0,1,0,0,0,0,0,1,0,0
1,10,2,1,late,1,0,0,0,0,0,0,1,0,0,0
2,6,4,4,late,1,0,0,0,0,0,0,0,0,1,0
3,4,2,2,late,1,0,0,0,0,0,0,0,0,1,0
4,4,1,3,late,1,0,0,0,0,0,0,0,0,1,0

In [15]:
processed_train_df['strategy'].value_counts()

early    432
late     356
Name: strategy, dtype: int64

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import seaborn as sn
from sklearn.metrics import classification_report

y = processed_train_df['strategy']
X = processed_train_df.drop('strategy', axis = 1)

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=0)

logistic_regression= LogisticRegression()
logistic_regression.fit(X_train,y_train)
y_pred=logistic_regression.predict(X_test)

confusion_matrix = pd.crosstab(y_test, y_pred, rownames=['Actual'], colnames=['Predicted'])

print(confusion_matrix)

print(classification_report(y_test, y_pred))

Predicted  early  late
Actual
early        107     0
late           0    90
              precision    recall  f1-score   support

       early       1.00      1.00      1.00       107
        late       1.00      1.00      1.00        90

    accuracy                           1.00       197
   macro avg       1.00      1.00      1.00       197
weighted avg       1.00      1.00      1.00       197

In [31]:
import numpy as np 
train_df_test = pd.read_csv('challenge_test.csv')
print('Lenght: ',len(train_df_test))

dummies_type_df_test = pd.get_dummies(train_df_test['type'])
dummies_god_df_test = pd.get_dummies(train_df_test['god'])

processed_train_df_test = train_df_test.join(dummies_type_df_test)
processed_train_df_test = processed_train_df_test.join(dummies_god_df_test)
processed_train_df_test = processed_train_df_test.drop(['id','name','type','god'], axis = 1)

y_pred_test_file = logistic_regression.predict(processed_train_df_test)

y_pred_test_file

unique, counts = np.unique(y_pred_test_file, return_counts=True)
dict(zip(unique, counts))

Lenght:  198

{'early': 114, 'late': 84}